{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Priority Planner</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static '/style.scss' %}" type="text/css" media="all">
        <link rel="stylesheet" id="stylin" href="{% static '/styling.css' %}" type="text/css" media="all">
    </head>
    <body class="wide">
        <div id="page" class="">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <!-- <img src="{% static 'images/logo.png' %}" alt="Priority Planner logo"> -->
                            </a>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/home" title="Priority Planner" rel="home">Home</a>
                            </h1>
                            <p>Priority Planner - a better way to prioritize</p>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/about" title="About" rel="about">About</a>
                            </h1>
                            <p>About</p>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/collections" title="Collections" rel="collecctions">Collections</a>
                            </h1>
                            <p>Collections</p>
                        </div>
                    </div>
                    <!-- <img src="{% static 'images/header.jpg' %}" alt="Priority Planner header"> -->
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <hr>
                        <div>
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    Priority Planner © 2023
                </div>
            </footer>
        </div>
        <script src="{% static '/main.js' %}"></script>
    </body>
</html>
