{% extends "base.html" %}
{% block content %}

<h1>{{ collection.title }}</h1>
<h3>{{ collection.description }}</h3>

<div class="flexit-center">
    <h2>Items: </h2>
</div>

<div class="flexit-center">
    <a href="{% url 'create-item' collection.id %}" class="button">Add an item</a>
</div>
<br>
<div class="flexit-center">
    <a href="{% url 'collection_sorter' collection.id %}" class="button">Sort My Collection</a>
</div>

<div id="collectionItems" class="flexit-column">
    {% for item in items %}
        <div class="">
            <h3>Title: {{item.title}}</h3>
            <p>Description: {{item.description}}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}