/* Main styles */
body {
    background-color: rgb(32, 33, 36);
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    padding: 0;
}

.main-head-wrap {
    display: flex;
    flex-direction: row;
}

footer {
    bottom: 0%;
    right: 2%;
    color: rgb(232, 234, 237);
    height: 2rem;
    position: fixed;
    text-align: right;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(92, 142, 241);
}

a:visited {
    color: rgb(232, 234, 237);
}

a:visited:hover {
    color: rgb(92, 142, 241);
}

p {
    color: rgb(232, 234, 237);
}

h1, h2, h3, h4 {
    color: rgb(232, 234, 237);
}

button, .button {
    background-color: rgb(92, 142, 241);
    border: none;
    border-radius: 1.875rem;
    color: rgb(232, 234, 237);
    cursor: pointer;
    font-weight: bold;
    padding: .5rem;
}

button:hover {
    background-color: rgb(58, 93, 161);
}

.button:hover {
    background-color: rgb(58, 93, 161);
}

label {
    color: rgb(232, 234, 237);
}

ul {
    color: rgb(232, 234, 237);
}

#main-header {
    background-color: black;
    color: rgb(232, 234, 237);
    display: flex;
    padding: .5rem;
}

#main-header a {
    margin: 0 .5rem;
}

#main-content {
    padding: 0 .5rem;
}

#main-footer {
    background-color: black;
    bottom: 0;
    color: rgb(232, 234, 237);

    position: absolute;
    
    width: 100%;
}

#main-footer_text {
    margin-right: 1rem;
    justify-content: right;
}

#main-title {
    color: rgb(92, 142, 241);
}

#hero-image {
    height: 20rem;
    width: auto;
}

.flexit-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexit {
    display: flex;
    flex-direction: row;
}

.flexit-center {
    display: flex;
    justify-content: center;
}

.option {
    margin: 0 .5rem;
}

#collections {
    justify-content: left;
}

.options {
    margin: 0 .5rem;
}

.align-center {
    text-align: center;
}

.blue {
    color: rgb(92, 142, 241);
}

.button-to-text {
    background-color: rgb(32, 33, 36);
    color: rgb(232, 234, 237);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.button-to-text:hover {
    background-color: rgb(32, 33, 36);
}

.site-title {
    margin: .5rem;
}

/* Sorting styles */
.decision-container, #final-results {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.results-div {
    color: rgb(232, 234, 237);
}